body {
  font-family: 'M PLUS 1p', sans-serif;
  background-color: #eff6ff;
  color: #6b7280;
}

.fs-10 {
  font-size: 10px;
}

.fazy {
  font-size: 100px !important;
  position: absolute;
  right: -10px;
  bottom: -15px;
  -webkit-transform: rotate(-25deg) !important;
          transform: rotate(-25deg) !important;
  opacity: .3;
  color: blue;
}

.fazy-border {
  border-left: solid 10px;
  border-color: rgba(0, 0, 255, 0.3);
}

.nonfazy-border {
  border-left: solid 10px;
  border-color: rgba(0, 0, 0, 0.3);
}

.shadow, .topic:hover, .topic:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.topic {
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

#registModal, #loginModal {
  z-index: 2;
  position: fixed;
  top: 20%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.mask {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

#registModal.active,
#loginModal.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mask.active {
  opacity: .7;
  visibility: visible;
}
