body {
    font-family: 'M PLUS 1p', sans-serif;
    background-color: #eff6ff;
    color: #6b7280;
}

.fs-10 {
    font-size: 10px;
}

.fazy {
    font-size: 100px !important;
    position: absolute;
    right: -10px;
    bottom: -15px;
    transform: rotate(-25deg) !important;
    opacity: .3;
    color: blue;
}

.fazy-border {
    border-left: solid 10px;
    border-color: rgba(0, 0, 255, 0.3);
}

.nonfazy-border {
    border-left: solid 10px;
    border-color: rgba(0, 0, 0, 0.3);
}

.shadow, .topic:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.topic {
  transition: box-shadow .3s;

  &:hover {
    @extend .shadow;
  }
}

#registModal, #loginModal {
    z-index: 2;
    position: fixed;
    top: 20%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: scale(.9);
}

.mask {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

#registModal.active,
#loginModal.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.mask.active {
    opacity: .7;
    visibility: visible;
}